{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

    <div>
        {% if msg %}
        
            <p>   
            {{ msg }}
            </p>

        {% endif %}

    </div>

<!-- {% for service in services %}
    {%  for key,value in service.items %}
       <p> {{key}} : {{value}} </p>
    {% endfor %}    
{% endfor %} -->




    {% if cobjs %}
        
        <table border="2" > 
            
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Port Mapping </td>
                <td>IPAddress</td>
                <td>Link</td>
                <td>Remove</td>
                {% if services %}
                    <td> Replicas </td>
                    <td> Scale </td>
                {% endif %}
                
            </tr>
            {% for c in cobjs %}
                <tr>
                    <td>{{c.0}}</td>
                    <td>{{c.1}}</td>
                    <td> {{c.3}}  : {{ c.6 }}</td>
                    <td>{{c.4}}</td>    
                    <td> <a href="http://localhost:{{ c.3 }}"  target="_blank"> link </a> </td>
                    {% if services %}
                        <td> <a href="/{{ c.2 }}/serviceRemove"> <b>  Remove  </b> </a> </td>
                    {%else%}
                        <td> <a href="/{{ c.2 }}/containerRemove"> <b>  Remove  </b> </a> </td>
                    {%endif%}
                    {% if services %}
                        <td>
                            <form method="POST" action="serviceScale">
                                {% csrf_token %}
                            <input type="hidden" value="{{c.0}}"  name="service_id">        
                            <input type="text" value={{c.7}} name="scale"> 
                        </td>
                        <td>
                            <input type="submit" name="login" value="Scale">
                        </form>
                        </td>
                    {% endif %}
                    
                   
                    
                </tr>
            {% endfor %}    
        </table>
        
    {% endif %}


    </br>
</br>



{% endblock %}


